.app {
  // text-align: center;
  width: 80%;
  // background-color: #47546e;
  margin: 20px auto;
}

.appLogo {
  height: 40vmin;
  pointer-events: none;
}

.appHeader {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.appLink {
  color: #61dafb;
}

